//variables
$primary: #86b6f6;
$secondary: #b4d4ff;
$light: #eef5ff;
$dark: #176b87;

//global reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//styles
.wrapper {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light;
}
.todoWrapper {
  min-width: 300px;
  height: 400px;
  width: 450px;
  padding: 14px;
}
.title {
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  color: $dark;
}
.inputWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 14px;
  justify-content: space-between;
}
.taskWrapper {
  padding: 14px;
  font-weight: bold;
  font-size: 16px;
  overflow-y: auto;
  height: 100%;
}
.todoText {
  max-width: 30%;
  word-wrap: break-word;
}
